@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Bold.ttf") format("woff2");
}

.theme1Color {
  --color1: hsl(0, 0%, 100%);
  --color2: hsl(6, 63%, 50%);
  --color3: hsl(6, 70%, 34%);
  --color4: hsl(30, 25%, 89%);
  --color5: hsl(221, 14%, 31%);
  --color6: hsl(222, 26%, 31%);
  --color7: hsl(223, 31%, 20%);
  --color8: hsl(224, 36%, 15%);
  --color9: hsl(224, 28%, 35%);
}

.theme2Color {
  --color1: hsl(10, 50%, 100%);
  --color2: hsl(56, 63%, 50%);
  --color3: hsl(36, 70%, 34%);
  --color4: hsl(130, 25%, 89%);
  --color5: hsl(231, 14%, 31%);
  --color6: hsl(232, 26%, 31%);
  --color7: hsl(233, 31%, 20%);
  --color8: hsl(234, 36%, 15%);
  --color9: hsl(234, 28%, 35%);
}

.theme3Color {
  --color1: hsl(10, 0%, 100%);
  --color2: hsl(16, 63%, 50%);
  --color3: hsl(16, 70%, 34%);
  --color4: hsl(50, 25%, 89%);
  --color5: hsl(201, 14%, 31%);
  --color6: hsl(202, 26%, 31%);
  --color7: hsl(203, 31%, 20%);
  --color8: hsl(204, 36%, 15%);
  --color9: hsl(204, 28%, 35%);
}

html {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

body {
  background-color: var(--color6);
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  color: var(--color1);
}

.outerFrame {
  background-color: var(--color6);
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.resultBoxFrame {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  min-height: 80px;
  background-color: var(--color8);
}

.resultBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow-wrap: anywhere;
  font-size: 36px;
}

.keyboardFrame {
  border-radius: 10px;
  background-color: var(--color7);
  padding: 20px;
  flex: 1;
  display: flex;
}

.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 18% 18% 18% 18% 18%;
  row-gap: 2.5%;
  column-gap: 2.67%;
  grid-template-areas:
    "keySeven keyEight keyNine keyDel"
    "keyFour keyFive keySix keyAdd"
    "keyOne keyTwo keyThree keySubstract"
    "keyDot keyZero keyDivide keyMultiply"
    "keyReset keyReset keyEqual keyEqual";
}

.gridItem {
  background-color: var(--color4);
  font-size: 32px;
  text-align: center;
  border-radius: 5px;
  color: var(--color5);
  font-family: inherit;
  font-weight: inherit;
  &:active {
    transition: 0.2s;
    background-color: var(--color1);
  }
}

.keyOne {
  grid-area: keyOne;
}
.keyTwo {
  grid-area: keyTwo;
}
.keyThree {
  grid-area: keyThree;
}
.keyFour {
  grid-area: keyFour;
}
.keyFive {
  grid-area: keyFive;
}
.keySix {
  grid-area: keySix;
}
.keySeven {
  grid-area: keySeven;
}
.keyEight {
  grid-area: keyEight;
}
.keyNine {
  grid-area: keyNine;
}
.keyZero {
  grid-area: keyZero;
}
.keyDel,
.keyReset {
  font-size: 20px;
  color: var(--color1);
  background-color: var(--color9);
  &:active {
    transition: 0.2s;
    background-color: var(--color6);
  }
}
.keyDel {
  grid-area: keyDel;
}
.keyReset {
  grid-area: keyReset;
}
.keyAdd {
  grid-area: keyAdd;
}
.keySubstract {
  grid-area: keySubstract;
}
.keyMultiply {
  grid-area: keyMultiply;
}
.keyDivide {
  grid-area: keyDivide;
}
.keyDot {
  grid-area: keyDot;
}
.keyEqual {
  grid-area: keyEqual;
  color: var(--color1);
  background-color: var(--color2);
  font-size: 24px;
  &:active {
    transition: 0.2s;
    background-color: var(--color3);
  }
}

.headerBox {
  min-height: 50px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
}

.titleBar {
  font-size: 30px;
}
.spaceBar {
  flex: 1;
}

.themeParagraph {
  padding-top: 30px;
  height: 20px;
  text-align: center;
}

.themeRadio {
  width: 96px;
  height: 30px;
  display: flex;
  margin-top: 20px;
}

.radioBox {
  width: 100%;
  height: 30px;
  background-color: var(--color7);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.theme1,
.theme2,
.theme3 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--color2);
  margin: 5px;
  .label {
    transform: translate(0, -20px);
  }
}

.activatedStateOff,
.activatedStateOn {
  &:hover {
    transition: 0.5s;
    background-color: var(--color4);
  }
}

.activatedStateOff {
  background-color: transparent;
}

.activatedStateOn {
  background-color: var(--color3);
}
